doctype html
.Header_box
  a(href='#') Home
  a(href='#') Favorites
  a(href='#') For You
  a(href='#') Filter
  input.search-box(type='text' placeholder='  Enter a search term')
  .Account-Menu
    img(src='./img/Dropdown.png')
    ol.Drop-Button
      li Account
      li My Listings
      li My cart
      li My WishList
      li Personal Information
      li Settings
.Listing-Zone
  button(type='button')
    h1 Test 1
    p
      | Random Descriptive Text adfaoiwjroiawjfghaoishfiajfoiajiofdjiofjaiosjfdiodjaiofsjifdiorjaoisjf
    img(src='./img/CSU_Logo.png' alt='Image Place')
  button(type='button')
    h1 Test 2
    p
      | Random Descriptive Text adfaoiwjroiawjfghaoishfiajfoiajiofdjiofjaiosjfdiodjaiofsjifdiorjaoisjf
    img(src='./img/CSU_Logo.png' alt='Image Place')
  button(type='button')
    h1 Test 3
    p
      | Random Descriptive Text adfaoiwjroiawjfghaoishfiajfoiajiofdjiofjaiosjfdiodjaiofsjifdiorjaoisjf
    img(src='./img/CSU_Logo.png' alt='Image Place')
  button(type='button')
    h1 Test 4
    p
      | Random Descriptive Text adfaoiwjroiawjfghaoishfiajfoiajiofdjiofjaiosjfdiodjaiofsjifdiorjaoisjf
    img(src='./img/CSU_Logo.png' alt='Image Place')
  button(type='button')
    h1 Test 5
    p
      | Random Descriptive Text adfaoiwjroiawjfghaoishfiajfoiajiofdjiofjaiosjfdiodjaiofsjifdiorjaoisjf
    img(src='./img/CSU_Logo.png' alt='Image Place')
  button(type='button')
    h1 Test 6
    p
      | Random Descriptive Text adfaoiwjroiawjfghaoishfiajfoiajiofdjiofjaiosjfdiodjaiofsjifdiorjaoisjf
    img(src='./img/CSU_Logo.png' alt='Image Place')
link(rel='stylesheet' href='./css/homestyle.css')
