doctype html
.Header_box
  a(href='#') Home
  a(href='#') Favorites
  a(href='#') For You
  a(href='#') Filter
  input.search-box(type='text' placeholder='  Enter a search term')
  .Account-Menu
    img(src='./img/Dropdown.png')
    ol.Drop-Button
      li 
       a(href="/profile") Account
      li My Listings  
      li My cart
      li My WishList
      li Personal Information
      li Settings
.Listing-Zone
  each listing  in listings
    button(type='button')
      h1 #{listing.title}
      p #{listing.tag}
      img(src='./img/CSU_Logo.png' alt='Image Place')
  
link(rel='stylesheet' href='./css/homestyle.css')