doctype html
head
    body 
        h1 Profile
    p User Info 
        p name: #{name}
        p email:
        

    p Delete Listing 

    p Edit Listing

    a(href="http://127.0.0.1:3000/api/v1/user/logout"): button(type="button")  Logout
script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.js')        
script(src='./js/profile.js')        
